<div class="col">
    <h4>Agregar Personaje</h4>

    <form class="row" (ngSubmit)="emitCharcter()">

        <input 
        type="text" 
        class="form-control mb-2"  
        [(ngModel)]="charcter.name"
        name="name"
        placeholder="Nombre del Personajes"
        >

        <input 
        type="number" 
        class="form-control mb-2"
        [(ngModel)]="charcter.power"
        name="power"
        placeholder="Poder"
        >

        <button type="submit" class="btn btn-primary">agregar</button>
        
    </form>

</div>